.bouncing{
    width: 250px;
    height: 250px;
    transform: scale(1);
    background-color: blueviolet;
    animation: infinite 4s bounce;
    margin: auto;
    transform: translateZ(0);
}
@keyframes bounce {
    0%{transform: scale(1);}
    67%{transform: scale(0.60);}
    70%{transform: scale(0.50);}
    73%{transform: scale(1.30);}
    76%{transform: scale(0.80);}
    79%{transform: scale(1.20);}
    82%{transform: scale(0.85);}
    85%{transform: scale(1.15);}
    88%{transform: scale(0.90);}
    91%{transform: scale(1.10);}
    94%{transform: scale(0.95);}
    97%{transform: scale(1.05);}
    100%{transform: scale(1);}
}