*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #333;
    background-color: rgb(22, 152, 152);
    /* some font family have nto done that im paying attention to class no time lol */
}
.nav-bar{
    background-color: aquamarine;
    color: white;
    height: 60px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-bar li{
    margin: 0 20px;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bar .logo{
    font-size: 32px;
    font-style: bold;
}
.nav-bar .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    max-width: 100%;
}
.header .container{
    display: flex;
    flex-direction: row;
}
.bouncing{
    width: 250px;
    height: 250px;
    transform: scale(1);
    background-color: blueviolet;
    animation: infinite 4s bounce;
}
@keyframes bounce {
    0%{transform: scale(1);}
    67%{transform: scale(0.60);}
    70%{transform: scale(0.50);}
    73%{transform: scale(1.30);}
    76%{transform: scale(0.80);}
    79%{transform: scale(1.20);}
    82%{transform: scale(0.85);}
    85%{transform: scale(1.15);}
    88%{transform: scale(0.90);}
    91%{transform: scale(1.10);}
    94%{transform: scale(0.95);}
    97%{transform: scale(1.05);}
    100%{transform: scale(1);}
}